<!DOCTYPE html>
<html>
        <head>
                <title>{{ page.title }}</title>
                <link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>
        <body>
		<div class="header-row">
			<div class="header-column">
				{% avatar mcorybillington size=200 %}
			</div>
			<nav style="list-style-type: none;">
					<li><a href="/">Home</a></li>
	        			<li><a href="/oscp">OSCP</a></li>
			</nav>
			<div class="header-column"></div>
			<div class="header-column"></div>
			<div class="header-column"></div>
			<div class="header-column"></div>
          	</div>
                <div class="container">
                        {{ content }}
                </div>
                <footer>
                	<ul>
                        	<li><a href="mailto:mcorybillington@gmail.com">email</a></li>
                        	<li><a href="https://github.com/mcorybillington">github.com/mcorybillington</a></li>
                        </ul>
                </footer>
        </body>
</html>

